/*
Custom styles
---------------------------------------------------------------------------------------------------- */

/* Flexbod styles 
--------------------------------------------- */

.flexbox-grid {
	margin-top: 40px;
}

.box-row {
	padding: 20px;
	margin-bottom: 20px;
	background-color: #007fff;
	border-radius: 2px;
}

.flexbox-grid p {
	margin-bottom: 0;
}
